<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.combateafraude.activeface_liveness_sdk">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
